@use "@/shared/variables.scss" as v;

.container {
  background-color: v.$bg_container_black;
  border-radius: 10px;
  height: 100%;
  padding: 15px;
  min-width: 340px;

  display: flex;
  flex-direction: column;
  gap: 25px;

  > div {
    .search_bar {
      position: relative;
      width: 100%;
      height: fit-content;

      input {
        position: relative;
        width: 100%;
        height: 45px;
        background-color: v.$bg_transparency;
        font-weight: 200;
        font-size: 1.2rem;
        border-radius: 15px;
        padding: 0 50px 0 15px;
        color: rgb(v.$white, 0.8);
      }
      > button {
        position: absolute;
        right: 0;
        height: 100%;
        color: v.$white;
        background-color: transparent;
        width: 60px;
        top: 0;
      }
    }
  }

  .cards_group {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    gap: 15px;

    &::-webkit-scrollbar {
      width: 15px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px v.$bg_transparency;
      border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(v.$white, 0.2);
      border-radius: 10px;
      background-clip: content-box;
      border: 6px solid transparent;
    }
  }
}
