// element colors
$baby_purple: #ac7cff;
$baby_red: #ff7c83;
$baby_blue: #7ca6ff;
$white: #ffffff;

// bg colors
$bg_black: #0f0f0f;
$bg_container_black: #1e1e1e;
$bg_transparency: #343434;
$bg_input: #525252;
