@use "@/shared/variables.scss" as v;

.text_tools {
  width: 350px;
  height: 100%;
  background-color: v.$bg_transparency;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px v.$bg_transparency;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(v.$white, 0.2);
    border-radius: 10px;
    background-clip: content-box;
    border: 6px solid transparent;
  }

  .text_select_tools_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .text_btn_tools_row {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;

    > button {
      font-size: 1.6rem;
      color: rgb(v.$white, 0.7);
      background-color: transparent;
      transition: ease-in 0.2s;
      cursor: pointer;

      &:hover {
        color: rgb(v.$white, 1);
      }
    }
  }

  .github_link {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    color: v.$white;
    opacity: 80%;
    font-size: 0.8rem;
    transition: ease-in 0.2s;

    a {
      margin-left: 10px;
      color: v.$white;
      text-decoration: none;
    }

    &:hover {
      opacity: 100%;
    }
  }
}
