@use "@/shared/variables.scss" as v;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "Inter";
  background-color: v.$bg_black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: none;
  border: none;
  font-family: "Inter";
}
select option {
  border-radius: 10px;
}
